In [5]:
import pandas as pd
import numpy as np

In [7]:
final_df = pd.read_excel(f"./outputs/temp_gen_processing_space.xlsx").iloc[:1000, :]

In [ ]:
temp_df = final_df.iloc[:1000, :].copy()

In [8]:
el_df = pd.read_csv('./outputs/result_el.csv')
ys_df = pd.read_csv('./outputs/result_ys.csv')
ys_df.head()

      ys_pred
0   627.79260
1   998.72876
2   627.79260
3  1490.73510
4   627.79260

In [13]:
new_df = pd.concat([final_df, ys_df, el_df], axis=1, names=['Yield strength/ MPa', 'Elongation/ %'])
print(new_df.shape)

(1000, 59)

In [14]:
new_df.drop_duplicates(keep='first', inplace=True, ignore_index=False)
print(new_df.shape)
new_df.head()

(838, 59)

,Files,DOIs,problem,status,title,abstract,Table_topic,Material,Tensile_name,Tensile_value,...,Ta,W,Pb,Bi,Other_ele,Text,Text_addition,actions,ys_pred,el_pred
0,47.xlsx,2,NaN,1,NaN,怀斌数据,NaN,NaN,NaN,923.00,...,0,0,0,0,NaN,The experimental steel was melted in vacuum in...,NaN,NaN,627.79260,39.288906
1,47.xlsx,2,NaN,1,NaN,怀斌数据,NaN,NaN,NaN,923.00,...,0,0,0,0,NaN,The experimental steel was melted in vacuum in...,NaN,NaN,998.72876,24.772644
2,68.xlsx,3,NaN,1,NaN,王昊数据,NaN,NaN,NaN,807.84,...,0,0,0,0,NaN,The experimental steel was melted in vacuum in...,NaN,NaN,627.79260,36.263900
3,47.xlsx,2,NaN,1,NaN,怀斌数据,NaN,NaN,NaN,923.00,...,0,0,0,0,NaN,The experimental steel was melted in vacuum in...,NaN,NaN,1490.73510,6.889070
4,68.xlsx,3,NaN,1,NaN,王昊数据,NaN,NaN,NaN,807.84,...,0,0,0,0,NaN,The experimental steel was melted in vacuum in...,NaN,NaN,627.79260,35.441402

In [15]:
new_df.to_excel('./outputs/final.xlsx')